* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f9f9f9;
    color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #111;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #222, #444);
    color: white;
    text-align: center;
}

.hero span {
    color: #00ffcc;
}

.hero button {
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    background: #00ffcc;
    cursor: pointer;
}

.section {
    padding: 60px 40px;
    text-align: center;
}

.dark {
    background: #222;
    color: white;
}

.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #00ffcc;
    color: black;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 8px;
    font-weight: bold;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
